[Unit]
Description=uhura
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/uhura/homeautomation.py
[Install]
WantedBy=multi-user.target
